# 1. The Matrix Subdomain
# This handles the actual traffic and federation
matrix.your-domain.com {
		Access-Control-Allow-Origin *
        Content-Type application/json
        Cache-Control public,max-age=806400
    }
    file_server /.well-known/matrix/* {
        root /var/www/
    }
    reverse_proxy /_matrix/* continuwuity:6167
}

# 2. The Root Domain
your-domain.com {
	root * /var/www/
    file_server
}
