# 1. The Matrix Subdomain
# This handles the actual traffic and federation
matrix.your-domain.com {
	header {
		Access-Control-Allow-Origin *
        Content-Type application/json
        Cache-Control public,max-age=806400
	}
    handle /.well-known/matrix/* {
        root /var/www/
        file_server
    }
    reverse_proxy /_matrix/* continuwuity:6167
}

# 2. The Root Domain
# I've put a file server on the main domain, but this is totally optional
your-domain.com {
	root * /var/www/
    file_server
}
